<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Chyno PRoject">
    <meta name="author" content="John Chynowth">
     <title><%- webpackConfig.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- webpackConfig.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
    <script src="lib/gun.js"></script>
     <style>
        body {
            min-height: 2000px;
            padding-top: 70px;
        }
    </style>
  </head>
  <body aurelia-app="main">
    <div class="splash">
      <div class="message">Project Chyno</div>
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    <% if (webpackConfig.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>

    <% } %>
  </body>
</html>
